   <a href="/comment/:id" class="post-list" id="{{post.id}}"><h5>{{title}}</h5></a>
  
  
    <div id="created-by"> Posted by {{user.name}} on {{format_date date_created}}</span>
    
    <div class="comment-content">
      <span>{{content}}</span>
    </div>