 <div class="post-div">
      <div class="post-list div-head"><h5>{{post.title}}</h5></div>
  
  
      <div id="created-by " class="name-date">  Posted by {{post.user.name}} on {{format_date post.date_created}}</div>
    
    <div class="comment-content">
      <span>{{post.content}}</span>
    </div>
</div>


{{#if post.comments}}
    {{#each post.comments}}
    <div class="card comment-div">
  <h6 class="card-header">Comment</h6>
  <div class="card-body">
    <p class="card-text comment-text " placeholder="">{{comment_text}}</p>
    <p class="card-text name-date">-{{user.name}} {{format_date date_created}}</p>
  </div>
</div>
{{/each}}
{{/if}}

<form class="comment-form">
  <div class="post-comment">
       <textarea type="text" class="form-control comment-content" placeholder="Comment Here" id="floatingTextarea2" style="height: 100px"></textarea>
    </div>

      
      <div class= "addComment-btn">
        <input type="hidden" value="{{post.id}}" id="post-id">
        <button class="btn btn-primary dataId comment-btn " value="Add Comment" type="submit" >Add Comment
    </button>
</form>





<script src="/js/comment.js"></script>
{{!-- <script src="/js/edit.js"></script> --}}
