<div class="container new-post-form">
{{#if post.length}}
<div class="mb-3">

  <h2>{{name}}'s' Dashboard</h2>
  
  
  {{#each post as |post|}}
  
<div id="title">
  <a href="/post/{{posts.id}}">{{post.title}}</a>
</div>
  
  <div class="user-post">
    Posted: {{format_date date_crated}}
  </div>

  <div id="postContent">{{post-content}}</div>

</div>
{{/each}}

{{/if}}

<div>
 <a type="button" class="btn btn-primary btn-lg " href="/createPost" id="create-new-post" >+Create New Post</a>
</div>
</div>

{{!-- <script src="./js/dashboard.js"></script> --}}